# Virtual environment
venv/
ENV/
env/
.venv/

# Compiled Python files
__pycache__/
*.py[cod]
*$py.class

# Local log files and databases
*.log
*.sqlite3

# Editor configuration files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Migration files
# */migrations/*.py
*/migrations/__pycache__/

# Django configuration files you don't want to share
*.env

# Temporary test files
coverage/
htmlcov/
*.cover
*.coverage
nosetests.xml
test-results.xml

# Build files
node_modules/
dist/
build/
staticfiles/
