{% extends 'base.html' %}
{% load static %}
{% block title %}Contact - Trackr{% endblock %}

{% block content %}
    <main class="main-wrapper boxed contact-page">
        <h1 class="page-title">Contact Us</h1>
        <p class="page-description contact">
            For support, partnership, or questions, please email us at <a href="mailto:support@trackr.com">support@trackr.com</a>.
        </p>
        <form class="contact-form">
            <input type="text" placeholder="Your Name" required>
            <input type="email" placeholder="Your Email" required>
            <textarea placeholder="Your Message" rows="4" required></textarea>
            <button type="submit">Send Message</button>
        </form>
    </main>
{% endblock %}
